@font-face {
   font-family: 'Palatino Linotype';
   font-display: swap;
   src: url('file:///C:/Users/jasper/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-12_132713/fonts/Palatino%20Linotype/font.ttf');
}
