.intro_image {
    background-image: url("https://scontent.fmnl2-1.fna.fbcdn.net/v/t1.6435-9/107834501_156786785925228_8959366396388356560_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeFeU4pAY2TjWJfC0McIMy12wOXiQaKxHCPA5eJBorEcI06SFpaN7JZ4a6Ql8u573ECgH9I25ZUAHdqdW10hLxAO&_nc_ohc=nwsgr8RjqowAX9_ZgT3&_nc_ht=scontent.fmnl2-1.fna&oh=65218b22bc3874bb8967ed907c33b939&oe=615FC6E6");
}

.image-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
}

.image-container_div{
    width: 100%;
    height: 12rem;
    margin: 1rem;
    background-color:#750d0e;
}


.input_padding{
    display:flex;
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}