{%extends "base.html"%}
{%block navbutton%}
{% if not is_login%}
<div class="navbar-buttons mbr-section-btn">
    <a class="btn btn-primary-outline display-4" href="/restosignup">
    Restaurant Signup
    </a>
    <a class="btn btn-primary display-4" href="/login">
    <span class="mbrib-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Login</a>
</div>
{%else%}
<div class="navbar-buttons mbr-section-btn">
    <a class="btn btn-primary-outline display-4" href="/cart">
    <span class="mbrib-shopping-cart mbr-iconfont mbr-iconfont-btn" style="color: rgb(142, 43, 37);"></span>Cart (0)</a>
    <a class="btn btn-primary display-4" href="/logout">
    <span class="mbrib-logout mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Logout</a>
</div>
{%endif%}

{%endblock%}

{%block content%}

<section data-bs-version="5.1" class="form6 cid-sRvkSCVPxp" id="form6-g">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Sign in to your Account</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">


                <form action="" method="post" class="mbr-form form-with-styler mx-auto">
                    {{form.hidden_tag()}}
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            {{form.user_name(class="form-control",size=32)}}
                            {% if form.user_name.errors %}
                            <ul class="errors text-white">
                                {% for error in form.user_name.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" >
                            {{form.password(class="form-control",size=32)}}
                            {% if form.password.errors %}
                                <ul class="errors text-white">
                                {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">
                                <span class="mobi-mbri mobi-mbri-paper-plane mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);">
                                </span>LOGIN
                            </button>
                        </div>
                        <center>
                            <br>
                        <p class="text-white">{{error}}</p>
                        </center>

                    </div>
                </form>



            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content11 cid-sRx8HLUnLn" id="content11-1a">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
                <div class="mbr-section-btn align-center"><a class="btn btn-white-outline display-4" href="/signup"><span class="mobi-mbri mobi-mbri-contact-form mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Don't Have an Account?  Signup</a></div>
            </div>
        </div>
    </div>
</section>

{%endblock%}