{%extends "base.html"%}

{%block navbutton%}
{% if not is_login%}
<div class="navbar-buttons mbr-section-btn">
    <a class="btn btn-primary-outline display-4" href="/restosignup">
    Restaurant Signup
    </a>
    <a class="btn btn-primary display-4" href="/login">
    <span class="mbrib-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Login</a>
</div>
{%else%}
<div class="navbar-buttons mbr-section-btn">
    <a class="btn btn-primary-outline display-4" href="/cart/{{restaurant.slug}}">
    <span class="mbrib-shopping-cart mbr-iconfont mbr-iconfont-btn" style="color: rgb(142, 43, 37);"></span>Cart ({{cart_data_len}})</a>
    <a class="btn btn-primary display-4" href="/logout">
    <span class="mbrib-logout mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Logout</a>
</div>
{%endif%}
{%endblock%}


{%block content%}
<!-- Restaurant-->
<section data-bs-version="5.1" class="header11 cid-sRxkInO9Dh mbr-parallax-background" style="background:url({{'../static/images/'+restaurant.image}}); background-size:cover; background-position: center;" id="header11-1q">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 image-wrapper">
                <img class="w-100" src="{{url_for('static',filename = 'images/' + restaurant.image)}}" alt={{restaurant.slug}}>
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper text-center">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                        <strong>{{restaurant.title}}</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">
                        {{restaurant.subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Menu Items -->
<section data-bs-version="5.1" class="slider4 mbr-embla cid-sRxnOJl3Yd" id="slider4-1u">
    <div class="position-relative text-center">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Our Menu Items</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Try our Delicious Menu Items.</h5>
        </div>
        <div class="embla mt-4" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">

                <div class="embla__container">
                    {%for item in menu_items%}
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{{url_for('static',filename = 'images/' + item.image)}}" style="width:21rem !important; height:21rem !important;">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5"><strong>{{item.name}}</strong></h5>
                                <p class="item-title mbr-fonts-style mt-3 display-8">{{item.details}}</p>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">{{item.price}}</p>
                            </div>
                            {% if not is_login%}
                            <div class="mbr-section-btn item-footer mt-2">
                                <a href="/login_error" class="btn item-btn btn-white-outline display-4" target="_blank">
                                    <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add&nbsp;
                                </a>
                            </div>
                            {%else%}
                            <form class="mbr-section-btn item-footer mt-2"method ="post" action="/addtocart">
                                <center>
                                <button type="submit" name="submit_button" value="{{item.id}}"  class="btn item-btn btn-white-outline display-4" target="_blank">
                                    <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add
                                </button>
                                </center>
                            </form>
                            {%endif%}

                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<!-- Reservation -->
<section data-bs-version="5.1" class="info1 cid-sRxtMGZNhn mbr-parallax-background" id="info1-1x">
    
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(35, 35, 35);"></div>
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-2"><strong>Want to Dine?, Reserve a Seat Now</strong></h3>
                
                <div class="mbr-section-btn"><a class="btn btn-white-outline display-4" href="https://mobiri.se"><span class="mbrib-calendar mbr-iconfont mbr-iconfont-btn"></span>Reserve A Seat&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<!-- Feedback -->
{% if comments.count() > 0 %}
<section data-bs-version="5.1" class="people5 mbr-embla cid-sRzsP7EzVI" id="people5-2d">
    <div class="position-relative text-center">
        <h3 class="mb-4 mbr-fonts-style display-2">
            <strong>What Our Fantastic Customer Say</strong>
        </h3>

        <div class="embla" data-skip-snaps="true" data-align="center" data-loop="true" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">

                <div class="embla__container">
                    {%for comment in comments%}
                    <div class="embla__slide slider-image item" style="margin-left: 7rem; margin-right: 7rem;">
                        <div class="user">
                            <div class="user_image">
                                <div class="item-wrapper position-relative">
                                    <img src="../static/assets/images/mbr-600x600.png">
                                </div>
                            </div>
                            <div class="user_text mb-4">
                                <p class="mbr-fonts-style display-7">
                                    {{comment.comment}}
                                </p>
                            </div>
                            <div class="user_name mbr-fonts-style mb-2 display-7">
                                <strong>{{comment.username}}</strong>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
{%else%}
{%endif%}

<!-- Feedback Form -->
<section data-bs-version="5.1" class="form5 cid-sRxvTc0ji1" id="form5-1y">

    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">
                <strong>Add a Review</strong></h3>
                        <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-7 text-white">
                (default name is your username, you can change it in the input box below)</h4>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true">
                    {{form.hidden_tag()}}
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3">
                            {{form.feedback_name(class="form-control")}}
                            {% if form.feedback_name.errors %}
                            <ul class="errors text-white" style="background: black !important;">
                            {% for error in form.feedback_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            {{form.rate(class="form-control")}}
                            {% if form.rate.errors %}
                            <ul class="errors text-white" style="background: black !important;">
                            {% for error in form.rate.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            {{form.message(class="form-control")}}
                        </div>
                        {%if not is_login%}
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <a href="/login_error_2" class="btn btn-white-outline display-4">
                                <span class="mbrib-paper-plane mbr-iconfont mbr-iconfont-btn"></span>Send
                                &nbsp;</a>
                        </div>
                        {%else%}
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-white-outline display-4">
                                <span class="mbrib-paper-plane mbr-iconfont mbr-iconfont-btn"></span>Send
                                &nbsp;</button>
                        </div>
                        {%endif%}

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{%endblock%}