{%extends "base.html"%}


{%block navbutton%}
{% if not is_login%}
<div class="navbar-buttons mbr-section-btn">
    <a class="btn btn-primary-outline display-4" href="/restosignup">
    Restaurant Signup
    </a>
    <a class="btn btn-primary display-4" href="/login">
    <span class="mbrib-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Login</a>
</div>
{%else%}
<div class="navbar-buttons mbr-section-btn">
    <a class="btn btn-primary-outline display-4" href="/cart">
    <span class="mbrib-shopping-cart mbr-iconfont mbr-iconfont-btn" style="color: rgb(142, 43, 37);"></span>Cart (0)</a>
    <a class="btn btn-primary display-4" href="/logout">
    <span class="mbrib-logout mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Logout</a>
</div>
{%endif%}
{%endblock%}

{%block content%}
<section data-bs-version="5.1" class="content4 cid-sRzTr0ekBr" id="content4-2i">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>{{restaurant_list_title}}</strong></h3>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="features8 cid-sRzTldoIDj mbr-parallax-background" xmlns="http://www.w3.org/1999/html" id="features9-2h">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container-fluid">

        {% for restaurant in restaurant_list %}
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3">
                        <div class="image-wrapper row justify-content-center" style="background:url({{'../static/images/'+restaurant.image}}); background-size:cover; background-position: center;padding-top:1rem; padding-bottom:1rem; padding-left:1rem; padding-right:1rem;">
<!--                            <img style="width:15rem !important; height:15rem !important;" src="{{url_for('static',filename = 'images/' + restaurant.image)}}" alt="restaurant.slug">-->
                            <div style="width:12rem !important; height:12rem !important;"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md">
                                    <h6 class="card-title mbr-fonts-style display-5">
                                        <strong>{{restaurant.title.upper()}}</strong></h6>
                                    <p class="mbr-text mbr-fonts-style display-7">
                                        {{restaurant.subtitle}}
                                    </p>
                                </div>
                                <div class="col-md-auto">
                                    <p class="price mbr-fonts-style display-5">4.2 ★</p>
                                    <div class="mbr-section-btn"><a href={{"/restaurant/" + restaurant.slug}} class="btn btn-white-outline display-4"><span class="mbrib-right mbr-iconfont mbr-iconfont-btn"></span>Visit&nbsp;</a></div>
                                </div>
                                <div class="col-lg-2 d-none d-lg-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</section>
{%endblock%}